.header-area {
    height: 80px !important;
    background: rgba(255,255,255,.3) !important;
}

.background-header {
    background: #fff !important;
}

.scroll-down a {
    background-color: #09b5e0 !important;
    border-radius: 40% !important;
    box-shadow: 0px 0px 10px rgba(167, 167, 167, 0.1) !important;
}

#about .service-item img,
#contact-us .left-text-content ul li img {
    display: none !important;
}

button.main-button-icon,
a.main-button-icon {
    background: #09b5e0 !important;
}

footer {
    background: #09b5e0 !important;
}

footer .right-text-content ul li a {
    border: 1px solid #fff;
    color: #09b5e0 !important;
}

footer .right-text-content ul li a:hover {
    background: #09b5e0 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}

#preloader {
background-image: none;
background: #09b5e0 !important;
}

a.main-stroked-button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

a.main-stroked-button:hover {
    background-color: #fff !important;
    color: #09b5e0 !important;
}

a.main-filled-button {
    background-color: #fff !important;
    color: #09b5e0 !important;
}

a.main-filled-button:hover {
    color: #fff !important;
    background-color: #09b5e0 !important;
}

#projects .section-heading h6,
#contact-us .section-heading h6 {
    color: #09b5e0 !important;
}

#projects .filters ul li.active,
#projects .filters ul li:hover {
    color: #09b5e0 !important;
}

#subscribe {
    padding: 80px 0px;
    background-image: url(../images/slide-01.jpg) !important;
}